{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li>
            <a href="{{ path('client_show', {'id':client.id}) }}">Ügyfél adatlap &raquo; {{ client }}</a>
        </li>
        <li>
            <a href="{{ path('contract_show', {'clientId':client.id, 'id': contract.id}) }}">#{{ contract.id }}
                Megbízás</a>
        </li>
        <li class="active">
            Ingatlan adatai
        </li>
    </ul>

    {% include 'admin/contract/steps.html.twig' %}

    <div class="container">
        <h1>Ingatlan adatai</h1>
        {% if list | length > 0 %}
            <div class="panel panel-custom">
                <div class="panel-body">
                    <h2>Rendelj a megbízásodhoz egy ingatlant</h2>

                    {% include 'admin/contract/assignPropertyList.html.twig' %}
                </div>
            </div>
            <hr>
        {% endif %}
        <div class="panel panel-custom">

            <div class="panel-body">
                <h2>Hozz létre új ingatlant a megbízásodhoz</h2>

                {% include 'admin/property/form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}