{% if list | length > 0 %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-custom table-striped">
            <tr>
                <th class="list-header">
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'p.id'})) }}
                    {% endif %}
                </th>
                <th class="list-header">
                    Típus
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'p.type'})) }}
                    {% endif %}
                </th>
                <th class="list-header">
                    Település
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'c.name'})) }}
                    {% endif %}
                </th>
                <th class="list-header">
                    Alapter.
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'p.size'})) }}
                    {% endif %}
                </th>
                <th class="list-header">
                    Telekter.
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'p.lotSize'})) }}
                    {% endif %}
                </th>
                <th class="list-header">
                    Státusz
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'p.status'})) }}
                    {% endif %}
                </th>
                <th class="list-header">
                    Létrehozó
                    {% if needOrder is defined %}
                        {{ render(controller('admin.controller.property:showOrder',{'order':'a.name'})) }}
                    {% endif %}
                </th>
                <th class="list-header"></th>
            </tr>
            {% for item in list %}
                <tr id="property-{{ item.id }}"
                    {% if app.request.get('property_id') and app.request.get('property_id') == item.id %}style="font-weight: bold;"{% endif %}
                >
                    <td>{{ item.id }}</td>
                    <td>
                        {% if item.type %}{{ item.typeFormatted }}{% endif %}
                        {% if item.subType %}/ {{ item.subTypeFormatted }}{% endif %}
                    </td>
                    <td>
                        {{ item.city.name }}{% if item.district %}, {{ item.district }}. kerület{% endif %}{% if item.street %}, {{ item.street }}{% endif %}
                    </td>
                    <td class="no-wrap">{% if item.size %}{{ item.size|number_format(0, '.', '&nbsp;') | raw }} m
                            <sup>2</sup>{% endif %}
                    </td>
                    <td class="no-wrap">
                        {% if item.lotSize %}{{ item.lotSize|number_format(0, '.', '&nbsp;') | raw }} m
                            <sup>2</sup>{% endif %}
                    </td>
                    <td>{{ item.statusFormatted }}</td>
                    <td>{{ item.administrator.name }}</td>
                    <td class="text-right">
                        {% if contract.property and contract.property.id == item.id %}
                            <span class="bg-success">Hozzárendelve</span>
                        {% else %}
                            <a href="{{ path('contract_assign_property', {'id':contract.id, 'clientId' :item.client.id, 'action': 'assign', 'propertyId':item.id }) }}"
                               class="btn btn-xs btn-default">
                                Hozzárendel
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <i>Nincsenek ingatlanok.</i>
{% endif %}