{% form_theme form 'admin/form/fields.html.twig' %}

<div class="filter-container {% if form.vars.value|length > 0 %}bg-active{% endif %}">
    {{ form_errors(form) }}

    {{ form_start(form, {'action':path('contract_filter'),'attr':{'autocomplete': 'off', 'class': '', 'role': 'form' }}) }}

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.id) }}</div>
                <div class="col-sm-6">{{ form_row(form.contractNumber) }}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.status) }}</div>
                <div class="col-sm-6">{{ form_row(form.agreementType) }}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.priceFrom) }}</div>
                <div class="col-sm-6">{{ form_row(form.priceTo) }}</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.priceEurFrom) }}</div>
                <div class="col-sm-6">{{ form_row(form.priceEurTo) }}</div>
            </div>
        </div>
        <div class="col-sm-4">{{ form_row(form.clientFirstname) }}</div>
        <div class="col-sm-4">{{ form_row(form.clientLastname) }}</div>
        <div class="col-sm-4">{{ form_row(form.administrator) }}</div>
        <div class="col-sm-4">{{ form_row(form.isExclusive) }}</div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-success btn-md btn-block">Keresés</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" name="reset" value="1" class="btn btn-default btn-md btn-block">Keresés
                            törlése
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>

