{% form_theme form 'admin/form/fields.html.twig' %}
{% import 'admin/form/macros.html.twig' as forms %}
{% if show is not defined %}
    {% set show = 0 %}
{% endif %}
{% if  not show or not contract %}
    {{ form_errors(form) }}
    {{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form'}}) }}
{% endif %}

<div class="row">
    {{ forms.form_row_custom(show,form.contractNumber, 'col-sm-4') }}
    {{ forms.form_row_custom(show,form.commission, 'col-sm-2') }}
    <div class="col-sm-2">
        <div class="form-group {% if form.isExclusive.vars.errors and form.isExclusive.vars.errors|length > 0 %}has-error{% endif %}">
            <label>&nbsp;</label>

            {% if show and contract %}
                <p class="form-control-static">{{ contract.isExclusiveFormatted }} </p>
            {% else %}
                {{ form_widget(form.isExclusive, {'required': false}) }}
                {{ form_errors(form.isExclusive) }}
            {% endif %}
        </div>
    </div>

    {{ forms.form_row_custom(show,form.deadline, 'col-sm-4', 'datepicker-input') }}
</div>
<div class="row">

    <div class="{% if show and contract %}col-sm-2{% else %}col-sm-4{% endif %}">
        <div class="form-group {% if form.agreementType.vars.errors and form.agreementType.vars.errors|length > 0 %}has-error{% endif %}">
            <label>Értékesítési mód</label>

            {% if show and contract %}
                <p class="form-control-static">{{ contract.agreementTypeFormatted }} </p>
            {% else %}
                {{ form_widget(form.agreementType, {'required': false}) }}
                {{ form_errors(form.agreementType) }}
            {% endif %}
        </div>
    </div>
    {% if show and contract %}

        <div class="col-sm-2">
            <div class="form-group">
                <label>Státusz</label>
                <p class="form-control-static">{{ contract.statusFormatted }} </p>
            </div>
        </div>
    {% endif %}

    {{ forms.form_row_custom(show, form.price, 'col-sm-4') }}
    {{ forms.form_row_custom(show, form.priceEur, 'col-sm-4') }}
</div>
<div class="row">
    {{ forms.form_row_custom(show,form.comment, 'col-sm-8') }}
</div>

{% if not show or not contract %}

    <hr>
    <div class="row">
        <div class="col-xs-12 text-right">
            {% if client.id %}
                <a href="{{ path('client_show', {'id':client.id}) }}"
                   class="btn btn-lg">
                    Mégse
                </a>
            {% else %}
                <a href="{{ path('client_index') }}"
                   class="btn btn-lg">
                    Mégse
                </a>
            {% endif %}
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-lg btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}