{% extends ':admin:layout.html.twig' %}

{% block content %}

    <ul class="breadcrumb">
        <li class="active"><a href="{{ path('contract_index') }}">Megbízások</a></li>
    </ul>

    <div class="container">
        <h1>Megbízások</h1>

        {{ render(path('contract_show_filter')) }}

        <div class="panel panel-custom">
            <div class="panel-body">
                {% if maxPages > 1 %}
                    <ul class="pagination pagination-sm">
                        <li {{ page == 1 ? 'class="disabled"' }}>
                            <a href="{{ path(app.request.get('_route'), {page: page-1 < 1 ? 1 : page-1}) }}">«</a>
                        </li>

                        {% for i in 1..maxPages %}
                            <li {{ page == i ? 'class="active"' }}>
                                <a href="{{ path(app.request.get('_route'), {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        <li {{ page == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path(app.request.get('_route'), {page: page+1 <= maxPages ? page+1 : page}) }}">»</a>
                        </li>
                    </ul>
                {% endif %}

                {% include 'admin/contract/list.html.twig' with {'list': list} %}
            </div>
        </div>
    </div>
{% endblock %}