{% if list | length > 0 %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-custom table-striped">
            <tr>
                <th></th>
                <th>Ingatlan</th>
                <th>Értékesítési mód</th>
                <th>Ár</th>
                <th>Jutalék</th>
                <th>Státusz</th>
                <th>Létrehozva</th>
                <th>Frissítve</th>
                <th>Kezeli</th>
                <th></th>
            </tr>
            {% for item in list %}
                <tr>
                    <td>#{{ item.id }}</td>
                    <td>
                        {% if item.property %}
                            <a href="{{ path('property_update', {'clientId':item.client.id, 'id':item.property.id}) }}">
                                {{ item.property }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.agreementTypeFormatted }}</td>
                    <td>{{ item.price }} Ft</td>
                    <td>{{ item.commission }}</td>
                    <td>
                        {{ item.statusFormatted }}
                        {% if item.resultFormatted %}
                            <br>{{ item.resultFormatted }}
                        {% endif %}
                    </td>
                    <td>{{ item.createdAt|date('Y-m-d H:i') }}</td>
                    <td>{{ item.updatedAt|date('Y-m-d H:i') }}</td>
                    <td>{{ item.administrator.name }}</td>
                    <td class="text-right no-wrap">

                        {% if not item.isArchive and is_granted("edit", item) %}
                            <a class="btn btn-xs btn-default"
                               href="{{ path('contract_update', {'id': item.id, 'clientId':item.client.id}) }}">Módosítás</a>
                        {% endif %}

                        <a class="btn btn-xs btn-default"
                           href="{{ path('contract_show', {'clientId':item.client.id,'id': item.id}) }}">Adatlap</a>

                        {#<a class="btn btn-xs btn-info" href="{{ path('client_show', {'id': item.id}) }}">Megtekintés</a>#}
                        {#<a class="btn btn-xs btn-danger" href="{{ path('client_archive', {'id': item.id}) }}">Archiválás</a>#}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <i>Nincsenek megbízások.</i>
{% endif %}