{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li>
            <a href="{{ path('client_show', {'id':client.id}) }}">Ügyfél adatlap &raquo; {{ client }}</a>
        </li>
        <li class="active">
            #{{ contract.id }} Megbízás
        </li>
    </ul>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Megbízás adatai</h1>
            </div>
            <div class="col-sm-6 text-right">
                {% if is_granted("edit", contract) %}
                    {% if contract.isActive %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="btn btn-danger"
                               href="{{ path('contract_archive', {'clientId': client.id,'id': contract.id}) }}"
                               onclick="return confirm('Biztos archiválod?');">Archiválás</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-success"
                               href="{{ path('contract_assign', {'clientId': client.id,'id': contract.id}) }}"
                               onclick="return confirm('Biztos átadod egy másik Munkatársnak?');">Átadás</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-success"
                               href="{{ path('contract_assign_property', {'clientId': client.id,'id': contract.id}) }}"
                               onclick="return confirm('Biztos Ingatlanhoz rendeled?');">Ingatlanhoz rendelés</a>

                            &nbsp;&nbsp;|&nbsp;&nbsp;
                        {% endif %}
                        <a class="btn btn-danger"
                           href="{{ path('contract_close', {'clientId': client.id, 'id':contract.id}) }}"
                           onclick="return confirm('Biztos lezárod?');">Lezárás</a>
                        &nbsp; | &nbsp;
                        <a class="btn btn-default"
                           href="{{ path('contract_update', {'clientId': client.id, 'id':contract.id}) }}">Módosítás</a>
                    {% else %}
                        <a class="btn btn-success"
                           href="{{ path('contract_activate', {'clientId': client.id,'id': contract.id}) }}"
                           onclick="return confirm('Biztos aktiválod?');">Aktiválás</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-custom">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Megbízást kezeli</label>
                                    <p class="form-control-static">{{ contract.administrator.name }}</p>
                                </div>
                            </div>
                        </div>

                        {% include 'admin/contract/form.html.twig' with {'show':1} %}
                    </div>

                    <hr class="nomargin">
                    <div class="panel-body">
                        <h2>Megbízás tárgya</h2>

                        {% include 'admin/property/list.html.twig' with {'list': [contract.property], 'contract' : contract} %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="events-container">
                {{ render(path('client_events', {'id':client.id, 'contractId':contract.id})) }}
            </div>
        </div>
    </div>
{% endblock %}