<div class="container">
    <div class="ad-steps">

        {% if step == 1 or (contract is defined and contract.id and step > 1) %}
            <hr class="step3-4"/>
            <hr class="step3-4" style="left: 386px;"/>
        {% else %}
            <hr class="step3-4" style="left: 300px;"/>
        {% endif %}

        {% if step == 1 or (contract is defined and contract.id and step > 1) %}
            <div class="step {% if step == 1 %}active{% elseif step > 1 %}done{% endif %}">
                <div class="icon-container">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <span class="text">
                {% if contract is defined and contract.id and step > 1 %}
                    <a href="{{ path('contract_update', {'id':contract.id, 'clientId':app.request.get('clientId')}) }}">
                        Megbízás adatai
                    </a>
                {% else %}
                    Megbízás adatai
                {% endif %}
            </span>
            </div>
        {% endif %}
        <div class="step  {% if step == 2 %}active{% elseif step > 2 %}done{% endif %}">
            <div class="icon-container">
                <span class="glyphicon glyphicon-chevron-down"></span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
            <span class="text">
                {% if contract is defined and contract.id and property is defined and property.id  and step != 2 %}
                    <a href="{{ path('property_update_contract', {'id':contract.id, 'clientId':app.request.get('clientId')}) }}">
                        Ingatlan adatai
                    </a>
                {% elseif property is defined and property.id and step != 2 %}
                    <a href="{{ path('property_update', {'id':property.id, 'clientId':app.request.get('clientId')}) }}">
                        Ingatlan adatai
                    </a>
                {% else %}
                    Ingatlan adatai
                {% endif %}
            </span>
        </div>
        <div class="step  {% if step == 3 %}active{% elseif step > 3 %}done{% endif %}">
            <div class="icon-container">
                <span class="glyphicon glyphicon-chevron-down"></span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
            <span class="text">
                 {% if contract is defined and contract.id and property is defined and property.id  and step != 3 %}
                     <a href="{{ path('property_media_contract', {'id':contract.id, 'clientId':app.request.get('clientId')}) }}">
                        Média feltöltése
                    </a>
                {% elseif property is defined and property.id and step != 3 %}
                     <a href="{{ path('property_media', {'id':property.id, 'clientId':app.request.get('clientId')}) }}">
                        Média feltöltése
                    </a>
                 {% else %}
                     Média feltöltése
                 {% endif %}
            </span>
        </div>

    </div>
</div>




