{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li>
            <a href="{{ path('client_show', {'id':client.id}) }}">Ügyfél adatlap &raquo; {{ client }}</a>
        </li>
        <li>
            <a href="{{ path('contract_show', {'clientId':client.id, 'id': contract.id}) }}">#{{ contract.id }} Megbízás</a>
        </li>
        <li class="active">
            Megbízás adatai
        </li>
    </ul>

    {% include 'admin/contract/steps.html.twig' %}

    <div class="container">
        <h1>Megbízás adatai</h1>
        <div class="panel panel-custom">
            <div class="panel-body">
                {% include 'admin/contract/form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}