{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li>
            <a href="{{ path('client_show', {'id':client.id}) }}">Ügyfél adatlap &raquo; {{ client }}</a>
        </li>
        {% if contract is defined and contract.id %}
            <li>
                <a href="{{ path('contract_update', {'clientId':client.id, 'id': contract.id}) }}">#{{ contract.id }} Megbízás</a>
            </li>
        {% endif %}
        <li class="active">
            Ingatlan létrehozása
        </li>
    </ul>

    <div class="container">
        <h1>Ingatlan létrehozása</h1>
        <div class="panel panel-custom">
            <div class="panel-body">
                {% include 'admin/property/form.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}