{% form_theme form 'admin/form/fields.html.twig' %}

<div class="filter-container {% if form.vars.value|length > 0 %}bg-active{% endif %}">
    {{ form_errors(form) }}
    {{ form_start(form, {'action':path('property_filter'),'attr':{'autocomplete': 'off', 'class': '', 'role': 'form' }}
    ) }}

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.id) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.status) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group {% if form.type.vars.errors and form.type.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label">{{ form.type.vars.label }}</label>
                        {{ form_widget(form.type, {'id': 'property-type', 'required': false, 'attr': {'class':'form-control' } }) }}{{ form_errors(form.type) }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group {% if form.subType.vars.errors and form.subType.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label">{{ form.subType.vars.label }}</label>
                        {{ form_widget(form.subType, {'id': 'property-subType', 'required': false, 'attr': {'class':'form-control', 'data-url':path('property_subtypes') } }) }}{{ form_errors(form.subType) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group {% if form.clientLastname.vars.errors and form.clientLastname.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label">{{ form.clientLastname.vars.label }}</label>

                        {{ form_widget(form.clientLastname, {'id': 'clientLastname', 'required': false, 'attr': {'class':'form-control', 'autocomplete':'false' } }) }}{{ form_errors(form.clientLastname) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group {% if form.clientFirstname.vars.errors and form.clientFirstname.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label"></label>

                        {{ form_widget(form.clientFirstname, {'id': 'clientFirstname', 'required': false, 'attr': {'class':'form-control', 'autocomplete':'false' } }) }}{{ form_errors(form.clientFirstname) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group {% if form.city.vars.errors and form.city.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">Település</label>

                {{ form_widget(form.city, {'id': 'city', 'required': false, 'attr': {'class':'form-control ', 'autocomplete':'false' } }) }}{{ form_errors(form.city) }}
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_row(form.district) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.street) }}
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">Alapterület</label>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_widget(form.sizeFrom, {'id': 'sizeFrom', 'required': false, 'attr': {'class':'form-control-size size-input' } }) }}
                        <span class="form-control-sm2">m<sup>2</sup></span>
                        {{ form_errors(form.sizeFrom) }}
                    </div>
                    <div class="col-xs-6">
                        <div style="position: absolute;left: -4px;top: 5px;">&ndash;</div>
                        {{ form_widget(form.sizeTo, {'id': 'sizeTo', 'required': false, 'attr': {'class':'form-control-size size-input' } }) }}
                        <span class="form-control-sm2">m<sup>2</sup></span>
                        {{ form_errors(form.sizeTo) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">Telek területe</label>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_widget(form.lotSizeFrom, {'id': 'lotSizeFrom', 'required': false, 'attr': {'class':'form-control-size size-input' } }) }}
                        <span class="form-control-sm2">m<sup>2</sup></span>
                        {{ form_errors(form.lotSizeFrom) }}
                    </div>
                    <div class="col-xs-6">
                        <div style="position: absolute;left: -4px;top: 5px;">&ndash;</div>
                        {{ form_widget(form.lotSizeTo, {'id': 'lotSizeTo', 'required': false, 'attr': {'class':'form-control-size size-input' } }) }}
                        <span class="form-control-sm2">m<sup>2</sup></span>
                        {{ form_errors(form.lotSizeTo) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.condition) }}
                </div>
                <div class="col-xs-6">
                    {{ form_row(form.administrator) }}

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.roomsFrom) }}
                </div>
                <div class="col-xs-6">
                    <div style="position: absolute;left: -4px;top: 25px;">&ndash;</div>
                    {{ form_row(form.roomsTo) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form.floorFrom) }}
                </div>
                <div class="col-xs-6">
                    <div style="position: absolute;left: -4px;top: 25px;">&ndash;</div>
                    {{ form_row(form.floorTo) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-md btn-block">Keresés</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" name="reset" value="1" class="btn btn-default btn-md btn-block">Keresés
                            törlése
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>

