{% form_theme form 'admin/form/fields.html.twig' %}

{% set property = form.vars.value %}
 {% if show is not defined %}
     {% set show = 0 %}
 {% endif %}

<div class="{{ form.vars.value.type | lower }}" id="property-form-panel">

    {% if  not show or not client %}
        {{ form_errors(form) }}
        {{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form'}}) }}
    {% endif %}

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group {% if form.type.vars.errors and form.type.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.type.vars.label }}</label>
                {{ form_widget(form.type, {'id': 'property-type', 'required': false, 'attr': {'class':'form-control' } }) }}{{ form_errors(form.type) }}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group {% if form.subType.vars.errors and form.subType.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.subType.vars.label }}</label>
                {{ form_widget(form.subType, {'id': 'property-subType', 'required': false, 'attr': {'class':'form-control', 'data-url':path('property_subtypes') } }) }}{{ form_errors(form.subType) }}
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group {% if form.county.vars.errors and form.county.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.county.vars.label }}</label>
                {{ form_widget(form.county, {'id': 'property-county', 'required': false, 'attr': {'class':'form-control' } }) }}{{ form_errors(form.county) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group {% if form.city.vars.errors and form.city.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.city.vars.label }}</label>
                {{ form_widget(form.city, {'id': 'property-city', 'required': false, 'attr': {'class':'form-control', 'data-url':path('property_cities') } }) }}{{ form_errors(form.city) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group {% if form.district.vars.errors and form.district.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.district.vars.label }}</label>
                {{ form_widget(form.district, {'id': 'property-district', 'required': false, 'attr': {'class':'form-control', 'data-url':path('property_districts') } }) }}{{ form_errors(form.district) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group {% if form.borough.vars.errors and form.borough.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.borough.vars.label }}</label>
                {{ form_widget(form.borough, {'id': 'property-borough', 'required': false, 'attr': {'class':'form-control', 'data-url':path('property_boroughs') } }) }}{{ form_errors(form.borough) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group {% if form.street.vars.errors and form.street.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label">{{ form.street.vars.label }}</label>
                        {{ form_widget(form.street, {'id': 'street', 'required': false, 'attr': {'class':'form-control' } }) }}{{ form_errors(form.street) }}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group {% if form.streetNp.vars.errors and form.streetNp.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label"></label>
                        {{ form_widget(form.streetNp, {'id':'streetNp'}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group {% if form.houseNumber.vars.errors and form.houseNumber.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label">{{ form.houseNumber.vars.label }}</label>
                        {{ form_widget(form.houseNumber, {'id': 'houseNumber', 'required': false, 'attr': {'class':'form-control' } }) }}{{ form_errors(form.houseNumber) }}
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group {% if form.houseNumberNp.vars.errors and form.houseNumberNp.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label"></label>

                        {{ form_widget(form.houseNumberNp, {'id':'houseNumberNp'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-2 form-item lakas haz garazs nyaralo iroda uzlethelyiseg vendeglato ipari mezogazdasagi intezmeny raktar">
            <div class="form-group">
                <label class="control-label">{{ form.size.vars.label }}</label>

                {{ form_widget(form.size, {'id': 'size', 'required': false, 'attr': {'class':'form-control-size size-input'} }) }}
                <span class="form-control-sm">m<sup>2</sup></span>
            </div>
        </div>
        <div class="col-sm-2 form-item haz telek  nyaralo ipari mezogazdasagi fejlesztesi intezmeny raktar">
            <div class="form-group">
                <label class="control-label">{{ form.lotSize.vars.label }}</label>

                {{ form_widget(form.lotSize, {'id': 'lotSize', 'required': false, 'attr': {'class':'form-control-size size-input'} }) }}
                <span class="form-control-sm">m<sup>2</sup></span>
            </div>
        </div>
        <div class="col-sm-2 form-item lakas">
            <div class="form-group">
                <label class="control-label">{{ form.balconySize.vars.label }}</label>

                {{ form_widget(form.balconySize, {'id': 'balconySize', 'required': false, 'attr': {'class':'form-control-size size-input'} }) }}
                <span class="form-control-sm">m<sup>2</sup></span>
            </div>

        </div>
        <div class="col-sm-2 form-item lakas">
            <div class="form-group">
                <label class="control-label">{{ form.gardenSize.vars.label }}</label>

                {{ form_widget(form.gardenSize, {'id': 'gardenSize', 'required': false, 'attr': {'class':'form-control-size size-input'} }) }}
                <span class="form-control-sm">m<sup>2</sup></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 form-item lakas haz nyaralo iroda intezmeny">
            {{ form_row(form.rooms) }}
        </div>
        <div class="col-sm-4 form-item lakas haz nyaralo iroda intezmeny">
            {{ form_row(form.halfRooms) }}
        </div>
        <div class="col-sm-4 form-item lakas haz">
            {{ form_row(form.bathToilet) }}
        </div>
        <div class="col-sm-4 form-item lakas iroda uzlethelyiseg vendeglato ipari raktar">
            {{ form_row(form.floor) }}
        </div>
        <div class="col-sm-4 form-item lakas haz nyaralo iroda uzlethelyiseg vendeglato ipari intezmeny raktar">
            {{ form_row(form.levels) }}
        </div>
        <div class="col-sm-4 form-item lakas">
            {{ form_row(form.orientation) }}
        </div>
        <div class="col-sm-4 form-item lakas haz nyaralo intezmeny">
            {{ form_row(form.heating) }}
        </div>
        <div class="col-sm-4 form-item lakas haz intezmeny">
            {{ form_row(form.comfort) }}
        </div>
        <div class="col-sm-4 form-item lakas haz telek nyaralo fejlesztesi intezmeny">
            {{ form_row(form.view) }}
        </div>
        <div class="col-sm-4 form-item lakas haz telek garazs nyaralo iroda uzlethelyiseg vendeglato intezmeny">
            {{ form_row(form.condition) }}
        </div>
        <div class="col-sm-4 form-item lakas haz nyaralo iroda intezmeny">
            {{ form_row(form.attic) }}
        </div>
        <div class="col-sm-4 form-item lakas haz iroda uzlethelyiseg vendeglato ipari raktar">
            {{ form_row(form.energyCertificate) }}
        </div>
        <div class="col-sm-4 form-item iroda">
            {{ form_row(form.officeCategory) }}
        </div>
        <div class="col-sm-4 form-item lakas haz">
            {{ form_row(form.ceilingHeight) }}
        </div>
        <div class="col-sm-2 form-item lakas haz nyaralo iroda uzlethelyiseg intezmeny">
            <div class="form-group">
                <label class="control-label">{{ form.utilityBills.vars.label }}</label>

                {{ form_widget(form.utilityBills, {'id': 'size', 'required': false, 'attr': {'class':'form-control-size money-input'} }) }}
                <span class="form-control-sm">Ft</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-item lakas haz telek garazs nyaralo iroda uzlethelyiseg vendeglato ipari mezogazdasagi fejlesztesi intezmeny raktar">
            {{ form_row(form.parking) }}
        </div>
        <div class="col-sm-2 form-item iroda lakas">
            <div class="form-group">
                <label class="control-label">{{ form.parkingFee.vars.label }}</label>

                {{ form_widget(form.parkingFee, {'id': 'size', 'required': false, 'attr': {'class':'form-control-size3'} }) }}
            </div>
        </div>
    </div>

    <div class="form-item telek nyaralo fejlesztesi">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.hasElectricity.vars.label }}</label>
                            {{ form_widget(form.hasElectricity, {'id': 'hasElectricity', 'required': false, 'attr': {'class':'form-control utility-select'} }) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.hasGas.vars.label }}</label>
                            {{ form_widget(form.hasGas, {'id': 'hasGas', 'required': false, 'attr': {'class':'form-control utility-select'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.hasWater.vars.label }}</label>
                            {{ form_widget(form.hasWater, {'id': 'hasWater', 'required': false, 'attr': {'class':'form-control utility-select'} }) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.hasDrain.vars.label }}</label>
                            {{ form_widget(form.hasDrain, {'id': 'hasDrain', 'required': false, 'attr': {'class':'form-control utility-select'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group form-item lakas">
            <div>
                <label class="control-label">{{ form.hasElevator.vars.label }}</label>
            </div>
            {{ form_widget(form.hasElevator, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item haz">
            <div>
                <label class="control-label">{{ form.hasCellar.vars.label }}</label>
            </div>
            {{ form_widget(form.hasCellar, {'attr':{'class':''}}) }}
        </div>
        {#<div class="col-sm-4 form-item lakas haz telek garazs nyaralo iroda uzlethelyiseg vendeglato ipari mezogazdasagi fejlesztesi intezmeny raktar">#}
        {#{{ form_widget(form.agentsCanHelp) }}#}
        {#</div>#}
        <div class="col-sm-4 form-group form-item lakas haz nyaralo">
            <div>
                <label class="control-label">{{ form.smoker.vars.label }}</label>
            </div>
            {{ form_widget(form.smoker, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas haz nyaralo iroda uzlethelyiseg vendeglato intezmeny">
            <div>
                <label class="control-label">{{ form.hasDisabledAccess.vars.label }}</label>
            </div>
            {{ form_widget(form.hasDisabledAccess, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas">
            <div>
                <label class="control-label">{{ form.mechanized.vars.label }}</label>
            </div>
            {{ form_widget(form.mechanized, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas haz nyaralo">
            <div>
                <label class="control-label">{{ form.petAllowed.vars.label }}</label>
            </div>
            {{ form_widget(form.petAllowed, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas">
            <div>
                <label class="control-label">{{ form.panelProgram.vars.label }}</label>
            </div>
            {{ form_widget(form.panelProgram, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas">
            <div>
                <label class="control-label">{{ form.hasGardenAccess.vars.label }}</label>
            </div>
            {{ form_widget(form.hasGardenAccess, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas haz nyaralo iroda uzlethelyiseg vendeglato intezmeny">
            <div>
                <label class="control-label">{{ form.hasAc.vars.label }}</label>
            </div>
            {{ form_widget(form.hasAc, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas nyaralo iroda">
            <div>
                <label class="control-label">{{ form.hasFurniture.vars.label }}</label>
            </div>
            {{ form_widget(form.hasFurniture, {'attr':{'class':''}}) }}
        </div>
        <div class="col-sm-4 form-group form-item lakas haz telek garazs nyaralo iroda uzlethelyiseg vendeglato ipari mezogazdasagi fejlesztesi intezmeny raktar">
            {{ form_widget(form.leaseRights) }}
        </div>
    </div>

    <div class="form-group {% if form.description.vars.errors and form.description.vars.errors|length > 0 %}has-error{% endif %}">
        <label class="control-label">{{ form.description.vars.label }}</label>
        {{ form_widget(form.description, {'id': 'description', 'required': false, 'attr': {'class':'textarea-desc' } }) }}{{ form_errors(form.description) }}
    </div>


    {% if not show or not client %}

        <hr>
        <div class="row">
            <div class="col-xs-12 text-right">
                {% if client.id %}
                    <a href="{{ path('client_show', {'id':client.id}) }}"
                       class="btn btn-lg">
                        Mégse
                    </a>
                {% else %}
                    <a href="{{ path('client_index') }}"
                       class="btn btn-lg">
                        Mégse
                    </a>
                {% endif %}
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-success">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
</div>
