{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li>
            <a href="{{ path('client_show', {'id':client.id}) }}">Ügyfél adatlap &raquo; {{ client }}</a>
        </li>
        {% if contract is defined and contract.id %}
            <li>
                <a href="{{ path('contract_update', {'clientId':client.id, 'id': contract.id}) }}">#{{ contract.id }}
                    Megbízás</a>
            </li>
        {% endif %}
        <li class="active">
            Média feltöltése
        </li>
    </ul>

    {% include 'admin/contract/steps.html.twig' %}

    <div class="container">
        <h1>Média feltöltése</h1>
        <div class="panel panel-custom">
            <div class="panel-body" id="media-photo-container">
                {% include 'admin/property/mediaItems.html.twig' with {'property':property, 'client':client} %}

                <div class="clearfix"></div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        {% if contract is defined and contract.id %}
                            <a href="{{ path('property_update_contract', {'clientId':client.id, 'id': contract.id}) }}"
                               class="btn btn-lg">
                                Vissza
                            </a>

                            <a href="{{ path('contract_show', {'clientId':client.id, 'id': contract.id}) }}"
                               class="btn btn-lg btn-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
                            </a>
                        {% elseif property is defined and property.id %}
                            <a href="{{ path('property_update', {'clientId':client.id, 'id': property.id}) }}"
                               class="btn btn-lg">
                                Vissza
                            </a>

                            <a href="{{ path('client_show', {'id':client.id}) }}" class="btn btn-lg btn-success">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
                            </a>
                        {% endif %}
                        &nbsp;&nbsp;

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}