<div class="photo-uploader"
     data-url="{{ oneup_uploader_endpoint('photo_upload') }}?propertyId={{ property.id }}"
     data-refresh-url="{{ path('property_media_items', {'id':property.id, 'clientId': client.id}) }}"
     data-container="#media-photo-container"
     data-clickable="#media-photo-clickable">
    <ul class="media-list" data-order-url="">
        {% for media in property.medias %}
            <li class="media-thumb" id="photoids-{{ media.id }}">

                <a href="{{ media.src | imagine_filter('photo_big') }}"
                   data-gallery="#blueimp-gallery-photos">
                    <img src="{{ media.src | imagine_filter('photo_thumbnail') }}" alt=""/>
                </a>

                <div class="media-tools-container">
                    <a href="{{ path('property_media_remove', {'id':property.id, 'clientId': client.id, 'mediaId': media.id}) }}"
                       title="Törlés"
                       class="media-thumb-delete" data-dz-remove>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </div>
            </li>
        {% endfor %}
        <li class="media-upload-new" id="media-photo-clickable">
            <div class="upload-logo">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <br>
            Húzd ide a fotókat vagy kattints és válaszd ki őket
            <div class="progress" style="display: none;margin-top: 30px;">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
        </li>
    </ul>

</div>