{% for flashMessage in app.session.flashbag.get('error') %}
    <section class="flash-message autoclose flash-error text-center">
        {{ flashMessage | raw }}
    </section>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <section class="flash-message autoclose flash-notice text-center">
        {{ flashMessage | raw }}
    </section>
{% endfor %}