{% extends ':admin:layout.html.twig' %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('admin_administrator_list') }}">Munkatársak</a></li>
        <li class="active">
            Munkatárs Megbízásainak átadása
        </li>
    </ul>

    <div class="container">
        <h1>Munkatárs Megbízásainak átadása</h1>

        <div class="panel panel-custom">
            <div class="panel-body">
                {% include 'admin/administrator/formAssign.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}