{% form_theme form 'admin/form/fields.html.twig' %}

{{ form_errors(form) }}
{{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form', 'id':'' }}) }}
<div class="row">
    <div class="col-sm-4 {% if form.administrator.vars.errors and form.administrator.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.administrator.vars.label }}</label>
            {{ form_widget(form.administrator, {'id': 'administrator', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.administrator.vars.label } }) }}{{ form_errors(form.administrator) }}
        </div>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-xs-12 text-right">
        <a href="{{ path('admin_administrator_list') }}"
           class="btn btn-lg">
            Mégse
        </a>
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-lg btn-success">
            <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
        </button>
    </div>
</div>

{{ form_end(form) }}
