{% form_theme form 'admin/form/fields.html.twig' %}

{{ form_errors(form) }}
{{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form', 'id':'' }}) }}
<div class="row">
    <div class="col-sm-4 {% if form.name.vars.errors and form.name.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.name.vars.label }}</label>
            {{ form_widget(form.name, {'id': 'name', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.name.vars.label } }) }}{{ form_errors(form.name) }}
        </div>
    </div>

    <div class="col-sm-4 {% if form.username.vars.errors and form.username.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.username.vars.label }}</label>
            {{ form_widget(form.username, {'id': 'username', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.username.vars.label } }) }}{{ form_errors(form.username) }}
        </div>
    </div>

    <div class="col-sm-4 {% if form.email.vars.errors and form.email.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.email.vars.label }}</label>
            {{ form_widget(form.email, {'id': 'email', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.email.vars.label } }) }}{{ form_errors(form.email) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 {% if form.phone.vars.errors and form.phone.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.phone.vars.label }}</label>

            {{ form_widget(form.phone, {'id': 'phone', 'required': false, 'attr': {'class':'form-control phone-number-input', 'placeholder':form.phone.vars.label } }) }}{{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="col-sm-4 {% if form.phone2.vars.errors and form.phone2.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.phone2.vars.label }}</label>

            {{ form_widget(form.phone2, {'id': 'phone2', 'required': false, 'attr': {'class':'form-control phone-number-input', 'placeholder':form.phone2.vars.label } }) }}{{ form_errors(form.phone2) }}
        </div>
    </div>
    <div class="col-sm-4 {% if form.phone3.vars.errors and form.phone3.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.phone3.vars.label }}</label>

            {{ form_widget(form.phone3, {'id': 'phone3', 'required': false, 'attr': {'class':'form-control phone-number-input', 'placeholder':form.phone3.vars.label } }) }}{{ form_errors(form.phone3) }}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-4 {% if form.role.vars.errors and form.role.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.role.vars.label }}</label>

            {{ form_widget(form.role, {'id': 'role', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.role.vars.label } }) }}{{ form_errors(form.role) }}
        </div>
    </div>
    <div class="col-sm-4 {% if form.status.vars.errors and form.status.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.status.vars.label }}</label>

            {{ form_widget(form.status, {'id': 'status', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.status.vars.label } }) }}{{ form_errors(form.status) }}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-4 {% if form.password.first.vars.errors and form.password.first.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.password.first.vars.label }}</label>

            {{ form_widget(form.password.first, {'id': 'password.first', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.password.first.vars.label } }) }}{{ form_errors(form.password.first) }}
        </div>
    </div>

    <div class="col-sm-4 {% if form.password.second.vars.errors and form.password.second.vars.errors|length > 0 %}has-error{% endif %}">
        <div class="form-group">
            <label>{{ form.password.second.vars.label }}</label>

            {{ form_widget(form.password.second, {'id': 'password.second', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.password.second.vars.label } }) }}{{ form_errors(form.password.second) }}
        </div>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-xs-12 text-right">
        <a href="{{ path('admin_administrator_list') }}"
           class="btn btn-lg">
            Mégse
        </a>
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-lg btn-success">
            <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
        </button>
    </div>
</div>

{{ form_end(form) }}
