{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li class="active"><a href="{{ path('admin_administrator_list') }}">Munkatársak</a></li>
    </ul>

    <div class="container-fluid">
        <h1>Munkatársak</h1>

        <div class="panel panel-custom">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        {% if maxPages > 1 %}
                            <ul class="pagination pagination-sm">
                                <li {{ page == 1 ? 'class="disabled"' }}>
                                    <a href="{{ path(app.request.get('_route'), {page: page-1 < 1 ? 1 : page-1}) }}">«</a>
                                </li>

                                {% for i in 1..maxPages %}
                                    <li {{ page == i ? 'class="active"' }}>
                                        <a href="{{ path(app.request.get('_route'), {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}

                                <li {{ page == maxPages ? 'class="disabled"' }}>
                                    <a href="{{ path(app.request.get('_route'), {page: page+1 <= maxPages ? page+1 : page}) }}">»</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="{{ path('admin_administrator_new') }}" class="btn btn-success">
                            Új munkatárs
                        </a>
                    </div>
                </div>
                <br>

                {% if list | length > 0 %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-custom table-striped">
                            <tr>
                                <th>#</th>
                                <th>Név</th>
                                <th>Felhasználónév</th>
                                <th>Email</th>
                                <th>Jogosultság</th>
                                <th>Ügyfelek</th>
                                <th>Megbízások</th>
                                <th>Státusz</th>
                                <th>Létrehozva</th>
                                <th>Módosítva</th>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <th></th>
                                {% endif %}
                                <th></th>
                            </tr>
                            {% for item in list %}
                                <tr class="{% if item.isDeleted or item.isInactive %}danger{% endif %}">
                                    <td>{{ item.id }}</td>
                                    <td>
                                        {{ item.name }}
                                    </td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.roleFormatted }}</td>
                                    <td>
                                        {{ item.clients | length }} db
                                    </td>
                                    <td>
                                        {{ item.contracts | length }} db
                                    </td>
                                    <td>{{ item.statusFormatted }}</td>
                                    <td>{{ item.createdAt|date('Y-m-d H:i') }}</td>
                                    <td>{{ item.updatedAt|date('Y-m-d H:i') }}</td>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <td class="text-right no-wrap">
                                            <a href="{{ path('administrator_assign_all_clients', {'id':item.id}) }}"
                                               class="btn btn-xs btn-primary">
                                                Ügyfelek átadása
                                            </a>
                                            &nbsp;
                                            &nbsp;
                                            <a href="{{ path('administrator_assign_all_contracts', {'id':item.id}) }}"
                                               class="btn btn-xs btn-primary">
                                                Megbízások átadása
                                            </a>
                                        </td>
                                    {% endif %}
                                    <td class="text-right no-wrap">
                                        {% if is_granted('edit', item) %}
                                            {% if item.isActive %}
                                                <a href="{{ path('administrator_inactivate', {'id':item.id}) }}"
                                                   class="btn btn-xs btn-default delete-link"
                                                   onclick="return confirm('Biztosan inaktiválod?')">
                                                    Inaktiválás
                                                </a>
                                            {% elseif item.isInactive %}
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <a href="{{ path('administrator_archive', {'id':item.id}) }}"
                                                       class="btn btn-xs btn-danger"
                                                       onclick="return confirm('Biztosan archiválod?')">
                                                        Archiválás
                                                    </a>
                                                {% endif %}
                                                <a href="{{ path('administrator_activate', {'id':item.id}) }}"
                                                   class="btn btn-xs btn-default"
                                                   onclick="return confirm('Biztosan aktiválod?')">
                                                    Aktiválás
                                                </a>
                                            {% else %}
                                                <a href="{{ path('administrator_activate', {'id':item.id}) }}"
                                                   class="btn btn-xs btn-default"
                                                   onclick="return confirm('Biztosan aktiválod?')">
                                                    Aktiválás
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('admin_administrator_edit', {'id':item.id}) }}"
                                               class="btn btn-xs btn-default">
                                                Módosítás
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-xs-12">
                            <i>Nincsenek munkatársak.</i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}