{% form_theme form 'AppBundle:Form:fields.html.twig' %}
{% extends ':admin:layout.html.twig' %}

{% block content %}

    {% include 'AppBundle::navbar.html.twig' %}

    <div class="container">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Hirdetések átadása
                </h3>
            </div>
            {% include 'AppBundle::flash.html.twig' %}
            <div class="panel-body">

                {{ form_errors(form) }}
                {{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form', 'id':'' }}
                )}}

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <p>
                            Ezen a felületen <b>{{ administrator.name }}</b> hirdetéseit átadhatod egy másik referensnek.
                            Válassz a legördülő menüből és kattints az Átmozgatás gombra.
                        </p>

                        <div class="form-group {% if form.toId.vars.errors and form.toId.vars.errors|length > 0 %}has-error{% endif %}">
                            <label class="control-label">{{ form.toId.vars.label }}</label>

                            {{ form_widget(form.toId, {'id': 'toId', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.toId.vars.label } }) }}{{ form_errors(form.toId) }}
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="{{ path('admin_administrator_list') }}"
                           class="btn btn-lg btn-primary">
                            Mégse
                        </a>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-lg btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Átmozgatás
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}