{% extends ':admin:layout.html.twig' %}

{% block content %}
    <div class="container text-center">

        <br>
        <br>
        <span class="glyphicon glyphicon-exclamation-sign" style="font-size:54px; color: red"></span>
        <h1> Ehhez a művelethez nincs jogod! :(</h1>
    </div>
{% endblock %}