<header>
    <nav class="navbar navbar-custom">
        <div style="position: relative;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#custom-navbar-collapse">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="{{ path('admin_dashboard') }}"></a>#}
            </div>
            <div class="collapse navbar-collapse" id="custom-navbar-collapse">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('logout') }}"><strong>Kilépés</strong></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SYSTEM_ADMIN') %}
                            <li {% if app.request.get('_route') matches '{^admin_administrator_}'
                                or app.request.get('_route') matches '{^administrator_}' %}class="active"{% endif %}>
                                <a href="{{ path('admin_administrator_list') }}">Munkatársak</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}

                            <li {% if app.request.get('_route') matches '{^client_}' %}class="active"{% endif %}><a
                                        href="{{ path('client_index') }}">Ügyfelek</a></li>
                            <li {% if app.request.get('_route') matches '{^contract_}' %}class="active"{% endif %}><a
                                        href="{{ path('contract_index') }}">Megbízások</a></li>
                            <li {% if app.request.get('_route') matches '{^property_}' %}class="active"{% endif %}><a
                                        href="{{ path('property_index') }}">Ingatlanok</a></li>
                        {% endif %}

                    </ul>

                    <p class="navbar-text navbar-left loggedin-name">Bejelentkezve: {{ app.user.name }}</p>
                {% endif %}
            </div>
        </div>
    </nav>
</header>