{% extends ':admin:layout.html.twig' %}

{% block content %}
    <div class="container">

        <br>
        <br>
        <h1>Üdvözlégy az Ingatlan nyilvántartó CRM felületén.</h1>
        <p style="padding:15px;"> A fenti menüpontok segítségével van lehetőséged kezeléni a kezelhetetlen.</p>
        <p style="padding:15px;">Jó munkát!</p>
    </div>
{% endblock %}