{% extends '::base.html.twig' %}

{% block stylesheets %}
    {#<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.theme.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select/bootstrap-select.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-image-gallery.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/dependent-dropdown.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/js/intl-tel-input/build/css/intlTelInput.css') }}"/>
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include '::_flash.html.twig' %}
    {% include ':admin:_navbar.html.twig' %}
    {% block content %}{% endblock %}

{% endblock %}


{% block javascripts %}

    <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui/datepicker-hu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-select/bootstrap-select.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.blueimp-gallery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-image-gallery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/typeahead.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-tagsinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dependent-dropdown.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/autoNumeric.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dropzone.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/intl-tel-input/build/js/intlTelInput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/typeahead/dist/typeahead.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/admin.js') }}" type="text/javascript"></script>

{% endblock %}
