{% extends ':admin:layout.html.twig' %}

{% block content %}
    <div class="container">
       <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="login-box">
                    <br>
                    <br>
                    <h1>Bejelentkezés</h1>
                    {% if error %}
                         <div class="alert-danger login-error">Érvénytelen felhasználónév vagy jelszó.</div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label for="username">Felhasználónév</label>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                        <div class="form-group">
                            <label for="password">Jelszó</label>
                            <input class="form-control" type="password" id="password" name="_password" />
                        </div>
                        <button class="btn btn-default" type="submit">Belépés</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}