body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #f1f1f1;
}

.navbar-custom {
    background: #006064;
    /*box-shadow: 0 -6px 15px 10px rgba(0, 0, 0, .2);*/
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .05em;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.navbar-nav > li.active > a,
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: #0097A7;
}

.breadcrumb {
    background-color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    padding: 8px 30px;
}

.panel-custom {
    border: none;
}

.container h1, .container-fluid h1 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 0 15px 0;
    padding: 6px 0 15px 0;
    color: #006064;
}

.container h2, .container-fluid h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .06em;
    margin: 0 0 15px;
    padding: 0;
}

.panel-custom .panel-heading {
    background: #00838F;
}

.pagination {
    margin: 0 0 15px 0;
}

.login-error {
    padding: 5px 10px;
    margin: 10px 0;
}

.gist {
    font-size: 14px;
}

.bootstrap-tagsinput {
    padding: 7px 10px;
    width: 100%;
    margin-bottom: 0;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    display: inline-block;
}

.checkbox, .radio {
    margin-top: 7px;
    margin-bottom: 12px;
}

.form-item {
    display: none;
}

.lakas .lakas {
    display: block;
}

textarea.form-control.textarea-desc {
    height: 150px;
}

.haz .haz {
    display: block;
}

.telek .telek {
    display: block;
}

.garazs .garazs {
    display: block;
}

.nyaralo .nyaralo {
    display: block;
}

.iroda .iroda {
    display: block;
}

.uzlethelyiseg .uzlethelyiseg {
    display: block;
}

.vendeglato .vendeglato {
    display: block;
}

.ipari .ipari {
    display: block;
}

.mezogazdasagi .mezogazdasagi {
    display: block;
}

.fejlesztesi .fejlesztesi {
    display: block;
}

.intezmeny .intezmeny {
    display: block;
}

.raktar .raktar {
    display: block;
}

.flash-notice {
    padding: 10px;
    background-color: #9ED27B;
}

.flash-error {
    padding: 10px;
    background-color: #f17061;
}

.index-container {
    background-color: #fff;
    padding: 10px 30px 20px 30px;
    margin-top: 30px;
}

.intl-tel-input {
    display: block !important;
}

.has-error .form-control {
    border-color: #f17061;
}

.has-error .control-label {
    color: #f17061;
}

.form-error-list {
    color: #f17061;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.form-control-static {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ddd;
    padding-left: 10px;
    min-height: 36px;
    cursor: not-allowed;
}

hr.nomargin {
    margin-top: 0;
    margin-bottom: 0px;
}

.button-container {
    text-align: right;
    margin-bottom: 15px;
}

.form-control-sm {
    display: inline-block;
    position: absolute;
    top: 32px;
    right: 26px;
}

.ad-steps {
    text-align: center;
    margin: 15px auto 10px;
    width: 700px;
    position: relative;
}

.ad-steps .step1-2,
.ad-steps .step2-3,
.ad-steps .step3-4 {
    border: 0;
    background: #d4d4d4;
    height: 3px;
    position: absolute;
    left: 214px;
    width: 100px;
    top: -4px;
}

.ad-steps .step2-3 {
    left: 385px;
}

.ad-steps .step3-4 {
    /*left: 472px;*/
}

.ad-steps .step {
    display: inline-block;
    text-align: center;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    width: 24%;
}

.ad-steps .step .text {
    display: inline-block;
    text-align: center;
    color: #868686;
    font-size: 15px;
}

.ad-steps .step.active .text {
    color: #111111;
}

.ad-steps .step.done .text {
    color: #868686;
}

.ad-steps .step .text button {
    background: transparent;
    border: none;
    color: #111111;
    padding: 0;
}

.ad-steps .step .icon-container {
    margin: 0 auto 10px auto;
    padding-top: 6px;
    padding-left: 2px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    color: #868686;
}

.ad-steps .step .icon-container .glyphicon-chevron-right {
    display: inline-block;
}

.ad-steps .step .icon-container .glyphicon-chevron-down {
    display: none;
}

.ad-steps .step.active .icon-container {
    border: 2px solid #111111;
    padding-top: 8px;
    color: #111;
}

.ad-steps .step.active .icon-container .glyphicon-chevron-down {
    display: inline-block;
}

.ad-steps .step.active .icon-container .glyphicon-chevron-right {
    display: none;
}

.ad-steps .step.done .icon-container {
    border: 2px solid #006064;
    background: #006064;
    padding-top: 6px;
    padding-left: 1px;
    color: #fff;
}

.filter-container {
    padding: 15px;
    background: #dddddd;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.filter-container.bg-active {
    background: #B2DFDB;
}

.calendar-icon, .calendar-icon2, .calendar-icon3 {
    font-size: 11pt;
    color: #999;
    position: absolute;
    right: 10px;
    top: 35px;
}

.datepicker-input {
    padding-right: 35px;
}

.control-label {
    min-height: 15px;
}

.loggedin-name {
    color: #fff;
}

.no-wrap {
    white-space: nowrap;
}

.event-description {
    width: 100%;
    height: 150px;
}

.form-control-size {
    text-align: right;
    padding-right: 35px;
}

.form-control-size2 {
    text-align: right;
    padding-right: 35px;
}

.form-control-size3 {
    text-align: right;
    padding-right: 55px;
}

.form-control-sm {
    display: inline-block;
    position: absolute;
    top: 27px;
    right: 26px;
}

.form-control-sm2 {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 26px;
}

.form-control-sf2 {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 26px;
}

.media-list, .media-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.media-list li.media-thumb, .media-list li.media-upload-new {
    width: 215px;
    height: auto;
    margin: 3px 5px 10px 4px;
    cursor: default;
    position: relative;
    float: left;
    display: block;
}

.media-list li.media-thumb .public {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.media-list li.media-upload-new {
    text-align: center;
    border: 3px dashed #006064;
    height: 215px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 7px;
    margin-right: 0;
    cursor: pointer;
}

.media-list li.media-upload-new .upload-logo {
    background: #006064;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    width: 41px;
    height: 41px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    padding-left: 2px;
    font-size: 12pt;
    font-weight: normal;
}

.media-form-group {
    padding-top: 5px;
}

.media-list li.media-thumb img {
    width: 215px;
    height: 215px;
}

.media-list li.media-thumb .media-tools-container {
    display: none;
}

.media-list li.media-thumb.hover .media-tools-container {
    display: block;
}

.media-list li.media-thumb.hover img {
    border: 3px solid #eee;
    box-sizing: border-box;
    width: 215px;
}

.media-list li.media-thumb .form-control.input-sm {
    padding: 4px 7px;
    font-size: 12px;
}

.media-list li.media-thumb textarea.form-control.input-sm {
    height: 170px;
    margin-top: 45px;
    font-family: monospace, sans-serif;
}

.media-list li.media-thumb select.form-control.input-sm {
    height: 30px;
}

.media-list li.media-thumb .form-control.bootstrap-select.input-sm {
    padding: 0;
}

.media-tools-container .media-thumb-delete,
.media-tools-container .media-thumb-delete2,
.media-tools-container .media-thumb-edit {
    position: absolute;
    background: #006064;
    color: #fff;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px;
}

.media-tools-container .media-thumb-edit {
    right: 41px;
}

.media-tools-container .media-thumb-move {
    position: absolute;
    background: #006064;
    color: #fff;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px;
    cursor: move;
}

.photo-uploader-file {
    display: none;
}

#media-upload-progress {
    display: none;
    margin-top: 10px;
}



