/*
 Theme Name:     Innovia Child Theme
 Theme URI:      https://newwpthemes.com/innovia-free-wordpress-theme/
 Description:    Innovia Child Theme
 Author:         NewWpThemes
 Author URI:     http://newwpthemes.com/
 Template:       Innovia
 Version:        1.0.0
*/

@import url("../Innovia/style.css");

/* =Theme customization starts here
------------------------------------------------------- */

@import url("../cross-apple/assets/css/common.css");
@import url("../cross-apple/assets/css/custom.css");
@import url("../cross-apple/assets/css/jquery.fancybox-1.3.4.css");
@import url("../cross-apple/assets/css/layout.css");
@import url("../cross-apple/assets/css/shortcodes.css");
@import url("../cross-apple/assets/css/slider.css");
@import url("../cross-apple/assets/css/styles/style-grey.css");
@import url("../cross-apple/assets/css/typography.css");
@import url("../cross-apple/assets/css/widgets.css");

/*
@font-face {
    font-family: 'VegurRegular';
	src: url('../cross-apple/assets/fonts/vegur-r_0500-webfont.eot');
    src: url('../cross-apple/assets/fonts/vegur-r_0500-webfont.eot?iefix') format('eot'),
         url('../cross-apple/assets/fonts/vegur-r_0500-webfont.woff') format('woff'),
         url('../cross-apple/assets/fonts/vegur-r_0500-webfont.ttf') format('truetype'),
         url('../cross-apple/assets/fonts/vegur-r_0500-webfont.svg#webfontvtUd5bqk') format('svg');
}*/

header .site-logo{
    margin-top: 10px !important;
}

body {
    background-image: url('../cross-apple/assets/images/bodybg/bg-2.png') !important;
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
}

a, a.h4, a.h8{
    -webkit-transition: color .5s; /* Safari */
    transition: color .5s;
    color: #08c;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:hover, a.h4:hover, a.h8:hover, h8:hover, .widget-container a:hover{
    color: #111;
    text-decoration: none;
}

h8{
    color: #08c;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.col-width{
    width: 960px;
}
.footer-col-3-1 {
    width: 300px;
}
.footer-col-2-1 {
    width: 465px;
}

header{
    background: #444;
    background: rgba(0,0,0,0.6);
}

header .header-inner {
    height: 76px !important;
}

header #top-menu {
    margin-top: 24px !important;
}

header #top-menu ul li a {
    color: #eee;
    font-weight: 300;
    font-size: 14px;
    border:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

header #top-menu ul li.current_page_item a, header #top-menu ul li.current-menu-item a{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border:0;
    background: inherit;
}

header #top-menu ul li a:hover,
header #top-menu ul li.current_page_item a:hover,
header #top-menu ul li.current-menu-item a:hover,
header #top-menu ul li a.selected {
    background-image: inherit;
    border:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #ccc;
}

#header {
    height: 268px;
}

#top-social-profiles{
    padding-top:0;
    margin-top: 15px;
}

#container{
    border: none;
}

#main-fullwidth{
    padding:0;
}

.slidedeck-frame{
    border:none;
}

#SlideDeck-7677-frame .accent-color {
    color: #FFFFFF;
}

#SlideDeck-7677-frame dt.sd2-spine-title-color {
    color: #999999;
}

#SlideDeck-7677-frame dt.sd2-spine-background-color {
    background-color: #FAFAFA;
}

#SlideDeck-7677-frame dt.sd2-spine-title-color.active {
    color: #454545;
}

#SlideDeck-7677-frame dt.sd2-spine-background-color.active {
    background-color: #D6D6D6;
}

.menu-secondary-container {
    background:none;
    background-color: rgba(194,194,194,0.45) !important;
    /*background-color: #e9e9e9;*/
    height: 35px;
    z-index:100;
}

.menus, .menus *{
    width: auto;
}

.menu-secondary {
    width: 960px;
    margin: 0 auto;
    text-align: right;
}

.menu-secondary li a {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    font-weight: 300;
    letter-spacing: .03em;
    font-family: inherit;
}

.menu-secondary li a:hover, .menu-secondary li a:active, .menu-secondary li a:focus,
.menu-secondary li:hover > a, .menu-secondary li.current-cat > a, .menu-secondary li.current_page_item > a, .menu-secondary li.current-menu-item > a {
    color: #000;
    outline: 0;
}

.menus li {
    display: inline-block;
    float: none;
}

header #top-menu ul li ul li a, header #top-menu ul li.current_page_item ul li a, header #top-menu ul li.current-menu-item ul li a, header #top-menu ul li.current-menu-parent ul li a {
    color: #555555;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
}

header #top-menu ul li ul li a:hover,
header #top-menu ul li ul li a.selected,
header #top-menu ul li.current_page_item ul li a:hover,
header #top-menu ul li.current-menu-item ul li a:hover,
header #top-menu ul li.current_page_parent ul li a:hover,
header #top-menu ul li.current-menu-parent ul li a:hover,
header #top-menu ul li.current-menu-item ul li.current-menu-item a {
    font-weight: 300;
    letter-spacing: 0.03em;
    background: inherit;
    color:#000;
}

header #top-menu ul li ul{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#content{
    padding: 0px 15px 15px 0;
    border: none;
}

#sidebar-primary {
    margin-left: 8px;
    padding: 0px 0px 0px 5px;
}

.menus li:hover ul, .menus li.sfHover ul {
    margin-top: 3px;
}

.menu-secondary li li a:hover, .menu-secondary li li a:active, .menu-secondary li li a:focus,
.menu-secondary li li:hover > a, .menu-secondary li li.current-cat > a, .menu-secondary li li.current_page_item > a, .menu-secondary li li.current-menu-item > a {
    color: #fff;
    background: #444;
    outline: 0;
}

#sidebar-index {
    margin-left: 15px;
}

/** BLOG **/
.title, .title a {
    color: #333333;
    margin: 10px 0 15px 0;
    font-size: 26pt;
    line-height: 1;
    font-weight: 100;
    text-align: left;
    letter-spacing: 1px;
    font-family: inherit;
}

.title a:hover{
    color: #111;
}

.postmeta-primary span, .postmeta-secondary span {
    font-family: inherit;
    font-size: 10pt;
    font-weight: 300;
}

.postmeta-primary span.meta_date, .postmeta-secondary span.meta_date,
.postmeta-primary span.meta_categories, .postmeta-secondary span.meta_categories{
    padding: 0;
}

.entry {
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.meta_date,
.meta_categories {
    background-image: none;
}

.post img{
    width: 100%;
    height: auto;
}

.widget-text {
    font-family: Helvetica;
}


.widget ul li {
    background: none;
    border: none;
    line-height: 1;
    padding: 5px 0;
}

footer .widget ul li{
    line-height: inherit;
}

.widget2 ul li{
    padding: 0;
}

.widget2 ul li a{
    background: #e1e1e1;
    padding: 7px 8px;
    letter-spacing: 0.02em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: block;
}

.widget ul li a.h8{
    color: #000;
}

.widget2 ul li a:hover{
    background: #ccc;
    text-decoration: none;
}

.oldalmenu li a, #sidebar-primary .widget-container #execphp-7 li a {
    color: #666666;
    padding: 0;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.05em;
}

.oldalmenu li a:hover,  #sidebar-primary .widget-container #execphp-7 li a:hover{
    color: #000;
}


hp31 {
    color: #666666;
    padding: 5px 5px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 0 -5px;
    color: #000;
    background: #e1e1e1;
    outline: 0;
    border-bottom: 0;
    text-decoration: none;
    display: block;
}

.widget h3 {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: left;
}

.bemutatkozas_cimdoboz{
    margin-top:0;
    font-weight: 400;
    font-family: inherit;
}

.bemutatkozas_cimdoboz_tabla_1,
.bemutatkozas_cimdoboz_tabla_2,
.bemutatkozas_cimdoboz_tabla_3,
.bemutatkozas_cimdoboz_tabla_4,
.bemutatkozas_cimdoboz_tabla_5,
.bemutatkozas_cimdoboz_tabla_6,
.kepzeslista_cimdoboz_tabla_2,
.kepzeslista_cimdoboz_tabla_3,
.kepzeslista_cimdoboz_tabla_4,
.kepzeslista_cimdoboz_tabla_5   {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0;
}

.kepzeslista_cimdoboz_tabla_4 {
    width: 79px;
}
.bemutatkozas_cimdoboz_tabla_3{
    width: 292px;
}

.bemutatkozas_also_tabla {
    float: left;
    text-align: left;
    padding: 0;
    width: 670px;
}

.widget_also_tabla1,
.widget_also_tabla2,
.widget_also_tabla3,
.widget_also_tabla4 {
    border-bottom: none;
    padding: 8px;
    margin: 0px 0 2px 0px;
    border: 1px solid #ccc;
    height: auto;
    line-height: 1;
    background: #ffffff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-sizing: border-box;
}

.widget_x {
    padding: 8px;
    margin: 0;
    border: none;
    line-height: 1;
    background: #e1e1e1;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.widget_x1 {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
    margin: 2px 0px 2px 0px;
    line-height: 1;
    background: #fff;
    color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.widget_x1_kepzesek_lista {
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;
    margin: 0;
    line-height: 1;
    background: #ffffff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.kepzeslista_also_tabla {
    float: left;
    text-align: left;
    padding: 0;
    width: 960px;
}

.widget-container a{
    font-family: inherit;
}

a.st-tags {
    background: none;
    border-bottom: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    text-align: left;
    line-height: 1.4;
    white-space: nowrap;
    font-family: inherit;
    /* font-size: 8px; */
    font-weight: 400;
    font-size: 11px !important;
}

.footer-copyright{
    text-align: center;
}

.footer-widget{
    padding: 30px 0;
}

ul#indulokepzesek_listak {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
}
li#indulokepzesek_listak {
    padding: 0 0 7px 0;
    margin: 6px 0px 6px 0px;
    border-bottom: 1px solid #e1e1e1;
    border-top: none;
}

input[type="text"], input[type="email"], input[type="tel"], select {
    display: block;
    padding: 5px 10px;
}

.widget_also_tabla_tranfolyamok_4 {
    border-bottom: none;
    padding: 8px;
    margin: 0;
    border: 1px solid #e1e1e1;
    height: 66px;
    line-height: 17px;
    background: #ffffff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.widget ul li a.h8 {
    color: #888;
}


