{% extends ':admin:layout.html.twig' %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li>
            <a href="{{ path('client_show', {'id':client.id}) }}">Ügyfél adatlap &raquo; {{ client }}</a>
        </li>
        <li class="active">
            Ügyfél átadása Munkatársnak
        </li>
    </ul>

    <div class="container">
        <h1> Ügyfél átadása Munkatársnak
        </h1>

        <div class="panel panel-custom">
            <div class="panel-body">

                {% form_theme form 'admin/form/fields.html.twig' %}

                {{ form_errors(form) }}
                {{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form', 'id':'' }}) }}
                <div class="row">
                    <div class="col-sm-4 {% if form.administrator.vars.errors and form.administrator.vars.errors|length > 0 %}has-error{% endif %}">
                        <div class="form-group">
                            <label>{{ form.administrator.vars.label }}</label>
                            {{ form_widget(form.administrator, {'id': 'administrator', 'required': false, 'attr': {'class':'form-control', 'placeholder':form.administrator.vars.label } }) }}{{ form_errors(form.administrator) }}
                        </div>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="{{ path('client_show', {'id':app.request.get('id')}) }}"
                           class="btn btn-lg">
                            Mégse
                        </a>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-lg btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}


            </div>
        </div>
    </div>

{% endblock %}