{% form_theme form 'admin/form/fields.html.twig' %}
<div class="panel panel-custom" style="background-color: #ddd;">
    {% include '::_flash.html.twig' %}
    <div class="panel-body">
        <p>Beszéltél az Ügyféllel? Leszerveztél egy találkozót? Itt leírhatod röviden, hogy mi történt.</p>

        {{ form_errors(form) }}
        {{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'action': path('client_events', {'id':client.id}), 'data-container':'#events-container', 'role': 'form', 'id':'' , 'onsubmit':'postAjaxForm(event,this)'}}) }}

        <div class="form-group {% if form.description.vars.errors and form.description.vars.errors|length > 0 %}has-error{% endif %}">
            {{ form_widget(form.description, {'id': 'description', 'required': false, 'attr': {'class':'form-control event-description', 'placeholder':'Esemény rövid leírása...' } }) }}{{ form_errors(form.description) }}
        </div>

        <div class="form-group {% if form.contract.vars.errors and form.contract.vars.errors|length > 0 %}has-error{% endif %}">
            <label class="control-label">{{ form.contract.vars.label }}</label>
            {{ form_widget(form.contract, {'id': 'contract', 'required': false, 'attr': {'class':'form-control event-contract', 'placeholder':'Esemény rövid leírása...' } }) }}{{ form_errors(form.contract) }}
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
            </button>
        </div>

        {{ form_end(form) }}
    </div>
</div>
<div class="panel panel-custom">
    <div class="panel-body" style="max-height: 500px; overflow: auto;">
        <h2>Események</h2>

        {% if list | length > 0 %}
            {% for item in list %}
                <div class="event-item">
                    <h4>{{ item.administrator.name }} - {{ item.administrator.createdAt | date("Y.m.d") }}</h4>
                    {% if item.contract and item.contract.id %}
                        <h5>
                            <a href="{{ path('contract_update', {'clientId':item.client.id, 'id':item.contract.id}) }}">
                                Megbízás: [#{{ item.contract.id }}] {{ item.contract.contractNumber }}
                            </a>
                        </h5>
                    {% endif %}
                    <p>{{ item.description }}</p>
                </div>
                <hr>
            {% endfor %}

        {% endif %}
    </div>
</div>

