{% form_theme form 'admin/form/fields.html.twig' %}

<div class="filter-container {% if form.vars.value|length > 0 %}bg-active{% endif %}">
    {{ form_errors(form) }}

    {{ form_start(form, {'action':path('client_filter'),'attr':{'autocomplete': 'off', 'class': '', 'role': 'form' }}) }}

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group {% if form.name.vars.errors and form.name.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.name.vars.label }}</label>

                {{ form_widget(form.name, {'id': 'name', 'required': false, 'attr': {'class':'form-control', 'autocomplete':'false' } }) }}{{ form_errors(form.name) }}
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_row(form.comment) }}
        </div>
        <div class="col-sm-4">
            <div class="form-group {% if form.email.vars.errors and form.email.vars.errors|length > 0 %}has-error{% endif %}">
                <label class="control-label">{{ form.email.vars.label }}</label>

                {{ form_widget(form.email, {'id': 'email', 'required': false, 'attr': {'class':'form-control', 'data-url':'', 'autocomplete':'false' } }) }}{{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 {% if form.zipcode.vars.errors and form.zipcode.vars.errors|length > 0 %}has-error{% endif %}"
                         style="padding-right: 5px;">
                        <label class="control-label">Ir.szám</label>

                        {{ form_widget(form.zipcode, {'id': 'zipcode', 'required': false, 'attr': {'class':'form-control' } }) }}{{ form_errors(form.zipcode) }}
                    </div>
                    <div class="col-sm-9 {% if form.city.vars.errors and form.city.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label">Település</label>

                        {{ form_widget(form.city, {'id': 'city', 'required': false, 'attr': {'class':'form-control', 'data-url': '', 'autocomplete':'false' } }) }}{{ form_errors(form.city) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_row(form.address) }}
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 {% if form.createdAtFrom.vars.errors and form.createdAtFrom.vars.errors|length > 0 %}has-error{% endif %}"
                         style="padding-right: 5px; position: relative">
                        <label class="control-label">Létrehozás dátuma</label>

                        {{ form_widget(form.createdAtFrom, {'id': 'createdAtFrom', 'required': false, 'attr': {'class':'form-control datepicker-input' } }) }}{{ form_errors(form.createdAtFrom) }}
                        <span style="position: absolute; right: -9px;top: 50%;">&ndash;</span>
                        <span class="glyphicon glyphicon-calendar calendar-icon"></span>
                    </div>

                    <div class="col-xs-6 {% if form.createdAtTo.vars.errors and form.createdAtTo.vars.errors|length > 0 %}has-error{% endif %}">
                        <label class="control-label"></label>

                        {{ form_widget(form.createdAtTo, {'id': 'createdAtTo', 'required': false, 'attr': {'class':'form-control datepicker-input', 'autocomplete':'false' } }) }}{{ form_errors(form.createdAtTo) }}
                        <span class="glyphicon glyphicon-calendar calendar-icon" style="right: 20px;"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_row(form.administrator) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.searchArchives) }}
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-success btn-md btn-block">Keresés</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" name="reset" value="1" class="btn btn-default btn-md btn-block">Keresés
                            törlése
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>

