{% form_theme form 'admin/form/fields.html.twig' %}
{% if show is not defined %}
    {% set show = 0 %}
{% endif %}
{% if  not show or not client %}
    {{ form_errors(form) }}
    {{ form_start(form, {'method':'POST', 'attr':{'autocomplete': 'off', 'class': '', 'role': 'form'}}) }}
{% endif %}
<div class="row">
    <div class="col-sm-4">
        <div class="form-group {% if form.lastname.vars.errors and form.lastname.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.lastname.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.lastname }}</p>
            {% else %}
                {{ form_widget(form.lastname, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.lastname) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.firstname.vars.errors and form.firstname.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.firstname.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.firstname }}</p>
            {% else %}
                {{ form_widget(form.firstname, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.firstname) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.idNumber.vars.errors and form.idNumber.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.idNumber.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.idNumber }}</p>
            {% else %}
                {{ form_widget(form.idNumber, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.idNumber) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group {% if form.zipcode.vars.errors and form.zipcode.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.zipcode.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.zipcode }}</p>
            {% else %}
                {{ form_widget(form.zipcode, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.zipcode) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.city.vars.errors and form.city.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.city.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.city }}</p>
            {% else %}
                {{ form_widget(form.city, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.city) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.address.vars.errors and form.address.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.address.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.address }}</p>
            {% else %}
                {{ form_widget(form.address, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.address) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group {% if form.email.vars.errors and form.email.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.email.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.email }}</p>
            {% else %}
                {{ form_widget(form.email, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.email) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.emailType.vars.errors and form.emailType.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.emailType.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.emailTypeFormatted }}</p>
            {% else %}
                {{ form_widget(form.emailType, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.emailType) }}
            {% endif %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group {% if form.contact1Phone.vars.errors and form.contact1Phone.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact1Phone.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact1Phone }}</p>
            {% else %}
                {{ form_widget(form.contact1Phone, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact1Phone) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.contact1Type.vars.errors and form.contact1Type.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact1Type.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact1TypeFormatted }}</p>
            {% else %}
                {{ form_widget(form.contact1Type, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact1Type) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.contact1Description.vars.errors and form.contact1Description.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact1Description.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact1Description }}</p>
            {% else %}
                {{ form_widget(form.contact1Description, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact1Description) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group {% if form.contact2Phone.vars.errors and form.contact2Phone.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact2Phone.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact2Phone }}</p>
            {% else %}
                {{ form_widget(form.contact2Phone, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact2Phone) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.contact2Type.vars.errors and form.contact2Type.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact2Type.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact2TypeFormatted }}</p>
            {% else %}
                {{ form_widget(form.contact2Type, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact2Type) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.contact2Description.vars.errors and form.contact2Description.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact2Description.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact2Description }}</p>
            {% else %}
                {{ form_widget(form.contact2Description, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact2Description) }}
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group {% if form.contact3Phone.vars.errors and form.contact3Phone.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact3Phone.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact3Phone }}</p>
            {% else %}
                {{ form_widget(form.contact3Phone, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact3Phone) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.contact3Type.vars.errors and form.contact3Type.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact3Type.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact3TypeFormatted }}</p>
            {% else %}
                {{ form_widget(form.contact3Type, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact3Type) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.contact3Description.vars.errors and form.contact3Description.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.contact3Description.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.contact3Description }}</p>
            {% else %}
                {{ form_widget(form.contact3Description, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.contact3Description) }}
            {% endif %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-8">
        <div class="form-group {% if form.comment.vars.errors and form.comment.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ form.comment.vars.label }}</label>
            {% if show and client %}
                <p class="form-control-static">{{ client.comment }}</p>
            {% else %}
                {{ form_widget(form.comment, {'required': false, 'attr': {'class':'form-control' } }) }}
                {{ form_errors(form.comment) }}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group {% if form.isActive.vars.errors and form.isActive.vars.errors|length > 0 %}has-error{% endif %}">
            <label>Státusz</label>

            {% if show and client %}
                <p class="form-control-static">{{ client.statusFormatted }} </p>
            {% else %}
                {{ form_widget(form.isActive, {'required': false}) }}
                {{ form_errors(form.isActive) }}
            {% endif %}
        </div>
    </div>
</div>
{% if not show or not client %}

    <hr>
    <div class="row">
        <div class="col-xs-12 text-right">
            {% if client.id %}
                <a href="{{ path('client_show', {'id':client.id}) }}"
                   class="btn btn-lg">
                    Mégse
                </a>
            {% else %}
                <a href="{{ path('client_index')}}"
                   class="btn btn-lg">
                    Mégse
                </a>
            {% endif %}
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-lg btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> Mentés
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}