{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li class="active"><a href="{{ path('client_index') }}">Ügyfelek</a></li>
    </ul>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6">
                <h1>Ügyfelek</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-success" href="{{ path('client_create') }}">Új ügyfél</a>
            </div>
        </div>

        {{ render(path('client_show_filter')) }}

        <div class="panel panel-custom">
            <div class="panel-body">
                {% if maxPages > 1 %}
                    <ul class="pagination pagination-sm">
                        <li {{ page == 1 ? 'class="disabled"' }}>
                            <a href="{{ path(app.request.get('_route'), {page: page-1 < 1 ? 1 : page-1}) }}">«</a>
                        </li>

                        {% for i in 1..maxPages %}
                            <li {{ page == i ? 'class="active"' }}>
                                <a href="{{ path(app.request.get('_route'), {page: i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        <li {{ page == maxPages ? 'class="disabled"' }}>
                            <a href="{{ path(app.request.get('_route'), {page: page+1 <= maxPages ? page+1 : page}) }}">»</a>
                        </li>
                    </ul>
                {% endif %}
                <br>

                {% if list | length > 0 %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-custom table-striped">
                            <tr>
                                <th>ID</th>
                                <th>Név</th>
                                <th>Email cím</th>
                                <th>Státusz</th>
                                <th>Kezeli</th>
                                <th>Létrehozva</th>
                                <th>Frissítve</th>
                                <th></th>

                            </tr>
                            {% for item in list %}
                                <tr>
                                    <td>#{{ item.id }}</td>
                                    <td>{{ item.lastname }} {{ item.firstname }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.statusFormatted }}</td>
                                    <td>{{ item.administrator.name }}</td>
                                    <td>{{ item.createdAt|date('Y-m-d H:i') }}</td>
                                    <td>{{ item.updatedAt|date('Y-m-d H:i') }}</td>
                                    <td class="text-right">
                                        {% if item.isActive and is_granted("edit", item) %}
                                            <a class="btn btn-xs btn-default"
                                               href="{{ path('client_update', {'id': item.id}) }}">Módosítás</a>
                                        {% endif %}
                                        <a class="btn btn-xs btn-default"
                                           href="{{ path('client_show', {'id': item.id}) }}">Adatlap</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-xs-12">
                            <i>Nincsenek ügyfelek.</i>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}