<div class="order-container">
    <div style="width: 10px; height:9px;margin-bottom: 2px;">
        <a href="{{ path('client_index') }}?order={{ order }}&direction=ASC"
           class="{% if order == current.order and 'ASC' == current.direction %}order-active{% else %}order-inactive{% endif %}"><span
                    class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
    </div>
    <div style="width: 10px; height:9px;"><a
                href="{{ path('client_index') }}?order={{ order }}&direction=DESC"
                class="{% if order == current.order and 'DESC' == current.direction %}order-active{% else %}order-inactive{% endif %}"><span
                    class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </a>
    </div>
</div>