{% extends ':admin:layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li class="active">
            Ügyfél adatlap &raquo; {{ client }}
        </li>
    </ul>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Ügyfél adatlap &raquo; {{ client }}</h1>
            </div>
            <div class="col-sm-6 text-right">
                {% if client.isActive %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-danger"
                           href="{{ path('client_archive', {'id': client.id}) }}"
                           onclick="return confirm('Biztos archiválod?');">Archiválás</a>
                        &nbsp;&nbsp;
                        <a class="btn btn-success"
                           href="{{ path('client_assign', {'id': client.id}) }}"
                           onclick="return confirm('Biztos átadod egy másik Munkatársnak?');">Átadás</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    <a class="btn btn-success"
                       href="{{ path('contract_create', {'clientId': client.id }) }}">Új megbízás</a>
                    &nbsp;&nbsp;
                    <a class="btn btn-success"
                       href="{{ path('property_create', {'clientId': client.id }) }}">Új ingatlan</a>
                    &nbsp;&nbsp;
                    {% if is_granted("edit", client) %}
                        <a class="btn btn-default"
                           href="{{ path('client_update', {'id': client.id}) }}">Módosítás</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">

                <div class="panel panel-custom">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ügyfelet kezeli</label>
                                    <p class="form-control-static">{{ client.administrator.name }}</p>
                                </div>
                            </div>
                        </div>
                        {% include 'admin/client/form.html.twig' with {'show':1} %}
                    </div>

                    <hr class="nomargin">

                    <div class="panel-body">
                        <h2>Megbízások</h2>

                        {% include 'admin/contract/list.html.twig' with {'list': client.contracts} %}
                    </div>

                    <hr class="nomargin">

                    <div class="panel-body">
                        <h2>Ingatlanok</h2>

                        {% include 'admin/property/list.html.twig' with {'list': client.properties} %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="events-container">
                {{ render(path('client_events', {'id':client.id})) }}
            </div>
        </div>
    </div>
{% endblock %}