{% extends ':admin:layout.html.twig' %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ path('client_index') }}">Ügyfelek</a></li>
        <li class="active">
            Ügyfél módosítása
        </li>
    </ul>

    <div class="container">
        <h1>Ügyfél módosítása</h1>
        <div class="panel panel-custom">
            <div class="panel-body">
                {% include 'admin/client/form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}