{% form_theme form 'AdminBundle:Form:fields.html.twig' %}

{% macro tagCollectionItem(child) %}
    <div class="media-tools-container">
        <a href="#" title="Mozgatás" class="media-thumb-move">
            <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
        </a>
    </div>
    <div class="media-form-container">
        {{ form_widget(child.html, {'required':false,'attr':{'class':'form-control input-sm', 'placeholder':child.html.vars.label }}
        )}}
        {{ form_errors(child.html) }}
        <div class="media-form-group">
            {{ form_widget(child.description, {'required':false,'attr':{'class':'form-control input-sm', 'placeholder':child.description.vars.label }}
            )}}
            {{ form_errors(child.description) }}
        </div>
        <div class="media-form-group">
            <div class="checkbox" style="margin-top: 3px; margin-bottom: 0">
                {{ form_widget(child.isPublic) }}
                <label for="{{ child.isPublic.vars.id }}">
                    <span></span> {{ child.isPublic.vars.label }}
                </label>
            </div>
        </div>
    </div>
    <input type="hidden" name="{{ child.vars.name }}[videoListingOrder][]" value=""/>
{% endmacro %}

{{ form_errors(field) }}

<ul class="form-collection media-list"
    data-prototype="{{ _self.tagCollectionItem(field.vars.prototype)|e }}"
    data-new-text="{{ buttonLabel }}"
    data-delete-text="{% trans %}Törlés{% endtrans %}"
        >
    {% for child in field %}
        <li class="media-thumb">
            <div class="media-tools-container">
                <a href="#" title="Mozgatás" class="media-thumb-move">
                    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-form-container">

                <div class="embed-container" {% if child.html.vars.errors and child.html.vars.errors|length > 0 %}style="display: none;"{% endif %}>
                    <iframe width="215" height="210" src="{{ child.vars.value.src }}" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="html-container" {% if child.html.vars.errors is empty or (child.html.vars.errors and child.html.vars.errors|length == 0) %}style="display: none;"{% endif %}>
                    {{ form_widget(child.html, {'required':false,'attr':{'class':'form-control input-sm html' }})}}
                    {{ form_errors(child.html) }}
                </div>
                <div class="media-form-group">
                    {{ form_widget(child.description, {'required':false,'attr':{'class':'form-control input-sm' }})}}
                    {{ form_errors(child.description) }}
                </div>
                <div class="media-form-group">
                    <div class="checkbox" style="margin-top: 3px; margin-bottom: 0">
                        {{ form_widget(child.isPublic) }}
                        <label for="{{ child.isPublic.vars.id }}">
                            <span></span> {{ child.isPublic.vars.label }}
                        </label>
                    </div>
                </div>
            </div>
            {{ form_widget(child.id) }}
            <input type="hidden" name="{{ field.parent.vars.name }}[videoListingOrder][]"
                   value="{{ child.vars.value.id }}"/>
        </li>
    {% endfor %}
</ul>

{% do field.setRendered %}
