{% extends 'form_div_layout.html.twig' %}

{% block form_errors %}
    {% if errors and errors|length > 0 %}
        <div class="form-error-list">
            {% for error in errors %}
                <div>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{%- block form_widget_simple -%}
    {%- set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{% block form_row %}
    <div class="form-group {% if form.vars.errors and form.vars.errors|length > 0 %}has-error has-feedback{% endif %}">
        {{ form_label(form, null, {'label_attr':{'class':'col-sm-3 control-label' }}) }}
        {#{% for attrname,attrvalue in attr %}#}
        {#{% if attrname == 'help' %}<span class="help-block">{{ attrvalue | raw }}</span>{% endif %}#}
        {#{% endfor %}#}
        <div class="col-sm-9">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}

{#<div class="form-group {% if form.vars.errors and form.vars.errors|length > 0 %}has-error has-feedback{% endif %}">#}
    {#{{ form_label(form, null, {'label_attr':{'class':'col-sm-3 control-label' }}) }}#}
    {#<div class="col-sm-5">#}
        {#{{ form_widget(form) }}#}
        {#{{ form_errors(form) }}#}
    {#</div>#}
    {#<div class="col-sm-4">#}
        {#{% for attrname,attrvalue in attr %}#}
            {#{% if attrname == 'help' %}<span class="help-block">{{ attrvalue | raw}}</span>{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}
{#</div>#}
{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{#{% block password_widget %}#}
    {#{% spaceless %}#}
        {#{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}#}
        {#<div class="row">#}
            {#<div class="col-sm-2">#}
                {#{{ parent() }}#}
            {#</div>#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock password_widget %}#}


{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <div class="checkbox">
                {{- form_widget(child) -}}
                <label for="{{- child.vars.id -}}">
                    <span></span>&nbsp;{{- child.vars.label -}}
                </label>
            </div>
        {% endfor %}
    </div>
{%- endblock choice_widget_expanded %}

{% block radio_widget -%}
    <div class="radio">
        <label>
            {{ parent() }}
            {{- form.vars.label -}}
        </label>
    </div>
{%- endblock radio_widget %}

{% block checkbox_widget -%}
    <div class="checkbox">
        <label>
            {{ parent() }}
            &nbsp;{{- form.vars.label -}}
        </label>
    </div>
{%- endblock checkbox_widget %}





