{% macro form_row_custom(show, field, colClass, inputClass) %}
    {% if show is not defined %}
        {% set show = 0 %}
    {% endif %}
    <div class="{{ colClass }}">
        <div class="form-group {% if field.vars.errors and field.vars.errors|length > 0 %}has-error{% endif %}">
            <label>{{ field.vars.label }}</label>
            {% if show %}
                <p class="form-control-static">{{ field.vars.value }}</p>
            {% else %}
                {{ form_widget(field, {'required': false, 'attr': {'class':'form-control ' ~ inputClass } }) }}
                {{ form_errors(field) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}